# Core Service DB
CORE_DB_DATABASE=core_db
CORE_DB_USERNAME=dev
CORE_DB_PASSWORD=root1234
CORE_DB_PORT=5432
CORE_DB_HOST=core_database

# Users Service DB
USERS_DB_DATABASE=users_db
USERS_DB_USERNAME=dev
USERS_DB_PASSWORD=root1234
USERS_DB_PORT=5433
USERS_DB_HOST=users_database

# Service ports
CORE_APP_PORT=8080
USERS_APP_PORT=8081
GATEWAY_APP_PORT=8000

# Public port
GATEWAY_PUBLIC_PORT=8000

# Inter-service URLs
USERS_SERVICE_URL=http://users_service:8081
CORE_SERVICE_URL=http://core_service:8080

# Notification Service DB
NOTIFICATION_DB_DATABASE=notification_db
NOTIFICATION_DB_USERNAME=dev
NOTIFICATION_DB_PASSWORD=root1234
NOTIFICATION_DB_PORT=5434
NOTIFICATION_DB_HOST=notification_database

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/